<div class="sm:px-8 mt-16 sm:mt-32">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <header class="max-w-2xl">
          <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
            Insights and Discoveries as a Web Engineer
          </h1>
          <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
            Webエンジニアとして生きていく中で試したこと、感じたこと、調べたことなどを気ままに綴っています。技術的な話題から日常の気づきまで幅広く共有していきます。
          </p>
        </header>
        <div class="mt-16 sm:mt-20">
          <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
            <div class="flex max-w-3xl flex-col space-y-16">
              <% @articles.each do |article| %>
                <article class="md:grid md:grid-cols-4 md:items-baseline">
                  <time class="mt-1 max-md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500" datetime="<%= article.published_at.iso8601 %>">
                    <%= article.published_at.strftime("%Y年%m月%d日") %>
                  </time>
                  <div class="md:col-span-3 group relative flex flex-col items-start">
                    <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                      <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50"></div>
                      <%= link_to article_path(article) do %>
                        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                        <span class="relative z-10"><%= article.title %></span>
                      <% end %>
                    </h2>
                    <time class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 md:hidden pl-3.5">
                      <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                        <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                      </span>
                      <%= article.published_at.strftime("%Y年%m月%d日") %>
                    </time>
                    <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                      <%= article.description %>
                    </p>
                    <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">
                      記事を読む
                      <i class="fa-solid fa-chevron-right ml-1 h-4 w-4 stroke-current"></i>
                    </div>
                  </div>
                </article>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
