<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>OAuth認証 - <%= Rails.application.class.module_parent_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body class="h-full bg-gray-100">
    <%= yield %>
  </body>
</html>
